/* Estilos de la tabla */

table,
th,
td {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid rgb(88, 25, 236);
}


/* Estilos del Body */

body {
    background-color: rgb(224, 213, 255);
}


/* Estilos del Boton */

button {
    background-color: rgb(61, 6, 87);
    color: white;
}